<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles.css') }}">
	<title>About | Whitaker Sports</title>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <img src="/static/whitakersports2.png" alt="Home"></a>
            <a href="/register" class="button">Join the mailing list!</a>
        </div>
        <div class="line"></div>
        <div class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://www.youtube.com/channel/UCKifA5q5fxHtSgKLpKOoJ4w/videos">Video Archive</a></li>
                    <li><a href="/store">Store</a></li>
                </ul>
        </div>
        <div class="content">
            <h1>Whitaker Sports:</h1>
            <p>Whitaker Sports hopes to provide thought-provoking sports analysis that goes beyond the trite "insight" of the mainstream media.<br><br>Brad Whitaker founded Whitaker Sports in 2016 under its former name "The Sideline Dissident." In less than two years, videos have been viewed by millions across the various social media platforms. Whitaker can be found on Twitter and Instagram at @thebradwhitaker. Be sure to follow Whitaker Sports on Facebook and subscribe to the podcast on iTunes.</p><br>
            <h1>About Brad Whitaker:</h1>
            <p>Brad Whitaker is a digital marketer and sports commentator who has worked as a sports writer, manager, social media strategist and video editor in both the public and private sector. Brad will receive his MBA from Louisiana State University on May 10, 2019. Brad is also finishing up a full-stack web development program with Coding Dojo. This web page was first created as a portfolio project in the program.</p><br><br>
            <h3>Brad Whitaker's Tweets:</h3>
            <a class="twitter-timeline" data-width="500" data-height="600" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/thebradwhitaker?ref_src=twsrc%5Etfw">Tweets by thebradwhitaker</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br><br><br>
        </div>
        <ul class="social-icons">
            <li><a href="http://www.facebook.com/whitakersports"><img src='/static/facebook.png' /></a></li>
            <li><a href="http://www.twitter.com/thebradwhitaker"><img src='/static/twitter.png' /></a></li>
            <li><a href="http://www.instagram.com/thebradwhitaker"><img src='/static/instagram.png' /></a></li>
            <li><a href="http://www.linkedin.com/in/bradley-whitaker-a1252862/"><img src='/static/linkedin.png' /></a></li>
            <li><a href="http://www.youtube.com/channel/UCKifA5q5fxHtSgKLpKOoJ4w"><img src='/static/youtube.png' /></a></li>
        </ul>
    </div>
</body>
</html>